html, body {
    background: #3c3c3c;
    height: 100%;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    color: #fff;
}

#auth-container {
    background: #111111;
    border: 1px solid #4d4d4d;
    border-radius: 1px;
}

#main-navbar {
    background: #1e1e1e;
    border-bottom: 1px solid rgba(0,0,0,.0975);
}

.post-container {
    background: #111111;
    border: 1px solid #4d4d4d;
    border-radius: 3px;
}

.nav-icon a {
    color: #4d4d4d;
    font-size: 1.3em;
    display: block;
    margin-top: .2em;
    margin-left: 1.2em;
    font-weight: 100;
}
.nav-icon a:hover {
    color: #f8f9fa;;
}
#profile-box {
    background: #111111;
    border: 1px solid #4d4d4d;
    border-radius: 1px;
    margin-top: 6em;
}

#user-posts #post-thumb {
    background: #fff;
}

#posts{
    margin-top: 75px;
}

.btn-submit{
    background-color: #4d4d4d;
    color:#fff;
}

hr{
    background-color: #4d4d4d;
}